/* GOOGLE FONTS */

@import url(https://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url('https://fonts.googleapis.com/css?family=Laila');

/* STANDARD HTML FEATURES */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: #000294;
}

a:hover {
    text-decoration: underline;
    color: pink;
}

html {
    background-color: rgba(228, 228, 228, 0.4);
}

body {
    font-size: 100%;
}

/* MAIN SECTIONS */

.container {
    width: 1200px;
    margin-top: 3em;
    margin: 0 auto;
}

.main-page {
    display: none;
}

.page-content {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

h1 {
    color: #000294;
    font-family: 'Laila', serif;
    text-align: center;
    font-size: 3em;
}

h3 {
    color: #000294;
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 1em;
    margin-top: 2em;
}

p {
    color: #000294;
    font-family: 'Josefin Sans';
    text-align: center;
}


/* IMAGES */

.russ-floating-head {
    opacity: .25;
    margin-left: 2em;
    height: 30em;
}

.ciara-floating-head {
    opacity: .25;
    float: right;
    height: 30em;
}


/* INTRO PAGE CONTENT */

.heart-icon-center {
    text-align: center;
    display: inline-flex;
    width: 44%;
}

.fa-heart {
    color: #5f0084;
    font-size: 10em;
    margin: 0 auto;
}

.fa-heart:hover {
    color: #ED17BF;
    text-shadow: 1px 1px 2px black, 0 0 1em #fff, 0 0 0.2em #fff;
}


/* MAIN PAGE CONTENT */

.input-container {
    font-family: "Josefin Sans";
    margin: 0 auto;
    padding: 2em 0em 1em 0em;
}

#query-term {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #000294;
    font-size: .65em;
    background: transparent;
    padding: 10px;
    text-align: center;
    color: #000294;;
    border-radius: 0;
}

#generate-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
    padding: 10px;
    background: rgb(25, 31, 128);
    color: lightgrey;
}

#clear-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 2px solid #cdcdcd;
    font-size: .65em;
    padding: 5px;
    background: #cdcdcd;
}

.poem,
.poet {
    color: #000294;
}

.toggle-arrows {
    display: none;
    text-align: center;
    margin-top: 2em;
    color: #fff;
}

.fa-chevron-circle-left {
    float: left;
    color: rgb(25, 31, 128);
}

.fa-chevron-circle-right {
    float: right;
    color: rgb(25, 31, 128);
}

.results-container {
    font-family: 'Parisienne', cursive;
    font-size: 1.5em;
    height: 20em;
    width: 35%;
    margin: 0 auto;
}

.poem-content {
    font-family: "Josefin Sans";
    font-size: 1.3em;
}

.poem-poet {
    color: #000294;
    text-align: right;
    margin-top: 1em;
}

.poem-lines {
    color: #000294;
    font-family: cursive;
    text-align: center;
    margin-top: 2rem;
}

.active {
    display: inline;
}

li {
    display: none;
}


/* FOOTER LAYOUT AND STYLE */

#credit {
    font-size: .6em;
    width: 100%;
    margin-top: 20rem;
}

#credit p {
    color: #000294;
    font-family: Arial;
    margin: 8em 0em 0em 5em;
    text-align: center;
}
